* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* SideBar */

header {
    display: flex;
    flex-direction: column;
    background-color: darkmagenta;
    color: azure;
    width: 250px;
    height: 100vh;
    border-radius: 1%;
    transition: all 0.3s ease-in-out;
}

h2 {
    font-size: 20px;
    padding-left: 20px;
}

.flex-property {
    display: flex;
    align-items: center;
    gap: 20px;
    padding-top: 20px;
    margin-bottom: 20px;
}

.nav-items {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding-left: 20px;
    padding-right: 20px;
    gap: 20px;
    font-size: 20px;

}

.nav-links:hover {
    color: cadetblue;
    cursor: pointer;
}

#toggle {
    display: none;
}

#menu {
    display: none;
}

#x {
    display: block;
}

#toggle:checked ~ #menu {
    display: block;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 20px;
}

#toggle:checked ~ #x {
    display: none;
}

header:has(#toggle:checked) {
    width: 60px;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
}

#toggle:checked ~ .flex-property {
    display: none;
}

#toggle:checked ~ .nav-items {
    display: none;
}