* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Profile Card */
/* Parent Div */
.card {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: orange;
}
/* Child Div */
.profile-card {
    display: flex; /* -> main propery */
    flex-direction: column;
    background-color: brown;
    justify-content: center; /* -> child propery */
    align-items: center;/* -> child propery */
    width: 400px;
    height: 600px;
    border-radius: 30px; /*1 rem = 16px*/
    box-shadow: 30px 29px 10px -3px black;
}

.profile-data {
    display: flex;
    flex-direction: column;
}

.profile-image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: black;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.image {
    width: 200px;
    height: 200px;

}

h2 {
    color: white;
    margin-bottom: 20px;
}

p {
    text-align: center;
    color: white;
}

.list-data {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    /* padding-left: 20px;
    padding-right: 20px; */
}

#social-icons {
    color: orange;
    font-size: 20px;
}

#social-icons:hover {
    color: red;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
}

.list-items {
    color: white;
}